.increment-z-index{
    z-index: 999999;
}
.give-height{
    height: 7vh;
}
.head-for-addExpense{
    height: 10vh;
    display: flex;
    justify-content: center;
    background-color: rgb(85 133 169);
    flex-direction: column;
    align-items: center;
}